flows.json
[{"id":"8639caee.559d88","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"587e24a8.136d4c","type":"debug","z":"8639caee.559d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":681,"y":62,"wires":[]},{"id":"918a0aef.0d2fd8","type":"inject","z":"8639caee.559d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":272,"wires":[["598042f3.e6e0ac"]]},{"id":"598042f3.e6e0ac","type":"function","z":"8639caee.559d88","name":"token genaration","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"16eb5566-0734-4cdf-a06b-db599085465f\"\nvar password=\"5a5ddb83-7f3e-4c6b-b6c6-80ec8b8525d2\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"report_year\",msg.payload.report_year);\nglobal.set(\"population\",msg.payload.population);\nglobal.set(\"robberies\",msg.payload.robberies);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":176,"wires":[["6d571331.444b8c"]]},{"id":"6d571331.444b8c","type":"http request","z":"8639caee.559d88","name":"httpget","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":522,"y":130,"wires":[["587e24a8.136d4c","6f253e3d.e2d36"]]},{"id":"6f253e3d.e2d36","type":"function","z":"8639caee.559d88","name":"prediction","func":"var token=msg.payload.token;\nvar report_year=global.get(\"report_year\");\nvar population=global.get(\"population\");\nvar robberies=global.get(\"robberies\");\nmsg.payload={\"fields\":[\"report_year\", \"population\" ,\"robberies\" ],\"values\":[[report_year,population,robberies]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token};\nreturn msg;                                             \n","outputs":1,"noerr":0,"x":310,"y":288,"wires":[["7467fc07.6b0fd4"]]},{"id":"7467fc07.6b0fd4","type":"http request","z":"8639caee.559d88","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/f7a4026d-88ec-4375-99fe-35bc417dda3e/deployments/f8fff559-27dd-454f-9e5e-7af3298f9078/online","tls":"","proxy":"","authType":"basic","x":430,"y":356,"wires":[["a611d27a.7e486","e058e05c.00a7c"]]},{"id":"a611d27a.7e486","type":"function","z":"8639caee.559d88","name":"output parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":603,"y":292,"wires":[["36ca4b90.2e3da4"]]},{"id":"e058e05c.00a7c","type":"debug","z":"8639caee.559d88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":417,"wires":[]},{"id":"e0f312f2.a0219","type":"ui_form","z":"8639caee.559d88","name":"","label":"","group":"eafb94a1.c976a8","order":0,"width":0,"height":0,"options":[{"label":"years","value":"report_year","type":"number","required":true},{"label":"population","value":"population","type":"number","required":true},{"label":"robberies","value":"robberies","type":"number","required":true}],"formValue":{"report_year":"","population":"","robberies":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":128,"y":90,"wires":[["598042f3.e6e0ac"]]},{"id":"36ca4b90.2e3da4","type":"ui_text","z":"8639caee.559d88","group":"eafb94a1.c976a8","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":743,"y":360,"wires":[]},{"id":"eafb94a1.c976a8","type":"ui_group","z":"","name":"Home","tab":"15d2bc91.335243","disp":true,"width":"6","collapse":false},{"id":"15d2bc91.335243","type":"ui_tab","z":"","name":"prediction","icon":"dashboard","disabled":false,"hidden":false}]